<div class="regForm">
  <form method="GET" , action="/signIn">
    <button class="regButtons">Sign In</button>
  </form>
  <form method="GET" , action="/registration">
    <button class="regButtons">Registration</button>
  </form>
</div>
